nav{
   li{padding: 10px;}
.#{&}__link{
     background-color:transparent;
     color:white;
     text-decoration: none;
     &:visited{
      color:white
     }
}
}
.home{
   background-color:#1d1d20;
   color:white;
   &__inner{
      padding:2rem;
      margin:auto; max-width:75rem; 
   }
}