  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
body{
   font-family: 'Montserrat', sans-serif;
}
li{
   list-style:none;
}
ul{
padding: 0;
}

nav{
   ul{
      z-index: 1;
      position: relative;
      padding: 1rem;
   }
   position: relative;
   &:before{
         content: " ";
         width: 90px;
         height: 90px;
         background: linear-gradient(135deg,rgb(91,100,181) 0%,rgb(93,194,115) 50%,rgb(91,100,181) 100%);
         opacity: 1;
         border-top-left-radius: 8px;
         transition: all .3s ease-in-out;
         position: absolute;
         top: -2px;
         bottom: 0;
         left: -2px;
   }
   &:after{
      content: " ";
      width: 90px;
      height: 90px;
      top: 0px;
      bottom: 0;
      left: 0px;
      border-top-left-radius: 8px;
      background-color: #1d1d20;
      position: absolute;
   }
   li{padding: 10px;}
.#{&}__link{
   position: relative;
padding: 0;
     background-color:transparent;
     color:white;
     text-decoration: none;
     &:visited{
      color:white
     }
     &:hover{
      background-color:transparent;
     }
     &:before {
    content: " ";
    height: 1px;
    width: 100%;
    background: linear-gradient(270deg,rgb(93,194,115) 0%,rgb(91,100,181)100%);
    opacity: 1;
    transition: all .3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
     }
}
}
.home{
   background-color:#1d1d20;
   color:#ccc;
   &__inner{
      padding:2rem;
      margin:auto; max-width:75rem; 
   }
   &__links{
      display:flex;
      justify-content: flex-end;
    width: 100%;
   }
   &__link{
      a{
         display:block;
         margin: 0 1rem;
         background-repeat: no-repeat;
         background-size: 100%;
         background-position: center;
         width: 30px;
         height: 30px;
           cursor: pointer;
      }

   }
   .email{
      padding: 0rem 0.5rem;
      background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='40' height='20' viewBox='0 0 643 465'%3E%3Cpath fill='%23fff' d='M39 3.4C31.6 5.1 27.5 7 21.4 11.6 11.2 19.3 5 29.2 3 41.1c-.8 4.5-1 61.4-.8 195.9.3 185.8.3 189.6 2.3 195 4.5 12.6 15.8 24.2 28.2 29.1 5 1.9 8.2 2.3 23.1 2.7l17.2.4V292.6c0-94.4.3-171.6.6-171.6.4 0 56.5 39.8 124.6 88.5l124 88.6 123.6-88.3c67.9-48.6 123.9-88.5 124.4-88.6.4-.2.8 76.8.8 171.2V464h15.3c16.2 0 21.9-1 30.3-5.1 11.3-5.6 21.7-19.2 24.3-31.7.8-3.8 1.1-59.8 1.1-194.5 0-166.8-.2-190-1.5-195.2-4.7-17.7-19.3-31.2-37.6-34.6-5.4-1-7-.9-9.2.2-1.4.8-62.9 44.7-136.6 97.6-73.7 53-134.5 96.3-135 96.3-.6 0-60.8-42.8-133.8-95.2C115.2 49.4 54 5.6 52.1 4.3c-3.8-2.6-5.2-2.7-13.1-.9z'%3E%3C/path%3E%3C/svg%3E");
   }
   .github{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120.78 117.79' fill='%23fff'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M60.39 0A60.39 60.39 0 0 0 41.3 117.69c3 .56 4.12-1.31 4.12-2.91 0-1.44-.05-6.19-.08-11.24C28.54 107.19 25 96.42 25 96.42c-2.75-7-6.71-8.84-6.71-8.84-5.48-3.75.41-3.67.41-3.67 6.07.43 9.26 6.22 9.26 6.22 5.39 9.23 14.13 6.57 17.57 5 .55-3.9 2.11-6.56 3.84-8.07C36 85.55 21.85 80.37 21.85 57.23A23.35 23.35 0 0 1 28.08 41c-.63-1.52-2.7-7.66.58-16 0 0 5.07-1.62 16.61 6.19a57.36 57.36 0 0 1 30.25 0C87 23.42 92.11 25 92.11 25c3.28 8.32 1.22 14.46.59 16a23.34 23.34 0 0 1 6.21 16.21c0 23.2-14.12 28.3-27.57 29.8 2.16 1.87 4.09 5.55 4.09 11.18 0 8.08-.06 14.59-.06 16.57 0 1.61 1.08 3.49 4.14 2.9A60.39 60.39 0 0 0 60.39 0Z'%3E%3C/path%3E%3Cpath class='cls-2' d='M22.87 86.7c-.13.3-.6.39-1 .19s-.69-.61-.55-.91.61-.39 1-.19.69.61.54.91ZM25.32 89.43c-.29.27-.85.14-1.24-.28a.92.92 0 0 1-.17-1.25c.3-.27.84-.14 1.24.28s.47 1 .17 1.25ZM27.7 92.91c-.37.26-1 0-1.35-.52s-.37-1.18 0-1.44 1 0 1.35.51.37 1.19 0 1.45ZM31 96.27a1.13 1.13 0 0 1-1.59-.27c-.53-.49-.68-1.18-.34-1.54s1-.27 1.56.23.68 1.18.33 1.54ZM35.46 98.22c-.15.47-.82.69-1.51.49s-1.13-.76-1-1.24.82-.7 1.51-.49 1.13.76 1 1.24ZM40.4 98.58c0 .5-.56.91-1.28.92s-1.3-.38-1.31-.88.56-.91 1.29-.92 1.3.39 1.3.88ZM45 97.8c.09.49-.41 1-1.12 1.12s-1.35-.17-1.44-.66.42-1 1.12-1.12 1.35.17 1.44.66Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   }
   .linkedin{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23fff' height='80px' width='80px' version='1.1' id='Layer_1' viewBox='0 0 455 455' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill-rule:evenodd;clip-rule:evenodd;' d='M246.4,204.35v-0.665c-0.136,0.223-0.324,0.446-0.442,0.665H246.4z'/%3E%3Cpath style='fill-rule:evenodd;clip-rule:evenodd;' d='M0,0v455h455V0H0z M141.522,378.002H74.016V174.906h67.506V378.002z M107.769,147.186h-0.446C84.678,147.186,70,131.585,70,112.085c0-19.928,15.107-35.087,38.211-35.087 c23.109,0,37.31,15.159,37.752,35.087C145.963,131.585,131.32,147.186,107.769,147.186z M385,378.002h-67.524V269.345 c0-27.291-9.756-45.92-34.195-45.92c-18.664,0-29.755,12.543-34.641,24.693c-1.776,4.34-2.24,10.373-2.24,16.459v113.426h-67.537 c0,0,0.905-184.043,0-203.096H246.4v28.779c8.973-13.807,24.986-33.547,60.856-33.547c44.437,0,77.744,29.02,77.744,91.398V378.002 z'/%3E%3C/g%3E%3C/svg%3E");
   }
   &__welcome{
      @media(min-width:768px) {
      width: 50%;
      }
      h1{
         font-size: 3rem;
         font-weight:200;
         color:#ccc;
         
      }
      p{
         position: relative;
         margin-left: 2rem;
         &::before{
            content: " ";
            display: inline-block;
            height: 100%;
            background: linear-gradient(0deg,rgb(93,194,115) 0%,rgb(91,100,181)100%);
            width: 2px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -30px;
         }
      }

   }
   &__projects{
      margin-top: 3rem;
   }
}