

.slide{
    position:relative; display:none;
img{
    max-width:100%; margin:auto;    display: block;
}
}

.slide--active{display:block;}

.slide__number{position:absolute; left:10px; top:0; color:white;}

.slide__caption{position:absolute; color:white; bottom:0; left:50%; transform:translate(-50%,0);}

.circle-wrapper{display:flex; justify-content:center;}

.circle{width:15px; height:15px; background-color: lightgray; border-radius:50%; margin-left:5px;}

.circle:hover{background-color:gray;}
.circle--active{background-color:gray;}

.chevron{padding:10px 5px; font-size: 50px;background: rgba(0,0,0, 0.5);}


.slider{position:relative; max-width:75rem; margin:auto;}

.slider__chevron{position:absolute; width:100%; display:flex; justify-content:space-between; transform:translate(0,-50%); top:50%; color:white;}

