
.tabs-header{
.header{color:white; text-align:center; padding:10px;}
.tabs{ display:flex; justify-content:space-between; background-color:gray;}
.tab{border:0; background:transparent; font-size:16px; text-align:center; padding:10px 100px; color:white;}
.tab:hover{background-color:lightgray;}
}